<div class="search-form pShareForm">
    <form class="searchSubmitForm">
        <input type="text" id="photoSearcherByName" class="form-control input-sm chat-input" placeholder="Search by name">
        <br/>
        <input type="text" id="photoSearcherByUser" class="form-control input-sm chat-input" placeholder="Search by user">
        <br/>
        <input type="text" id="photoSearcherByTags" class="form-control input-sm chat-input" placeholder="Search by tags">
        <br/>
        <a id="advancedSearchPhotoBtn" class="searchBtn btn">Search</a>
    </form>
</div>
