<div class="form-register pShareForm editProfile">
    <input type="text" id="firstName" class="form-control" value="{{FirstName}}" placeholder="Your name"/>
    </br>
    <input type="text" id="lastName" class="form-control" value="{{LastName}}" placeholder="Your last name"/>
    </br>
    <input type="email" id="email" class="form-control" value="{{email}}" placeholder="Your email"/>
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="changeDetails" class="pshareBtn">Change details</a>
            </span>
    </div>
    <input type="password" id="oldPass" class="form-control" placeholder="old password" />
    </br>
    <input type="password" id="userPassword" class="form-control" placeholder="new password" />
    </br>
    <input type="password" id="repeateUserPassword" class="form-control" placeholder="repeat new password" />
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="changeAll" class="pshareBtn">Change also pass</a>
            </span>
    </div>
</div>
