<div class="pShareForm">
    <input type="text" id="imageName" class="form-control input-sm chat-input" placeholder="name" />
    </br>
    <textarea id="imageDescription" class="form-control" placeholder="description" />
    </br>
    <input type="text" id="imageTags" class="form-control" placeholder="tgs separated by comma" />
    </br>
    <span>Chec if the photo is private:</span>
    <input type="checkbox" id="isPrivate" class="form-control">
    </br>
    <input type="file" id="fileinput" class="pshareBtn" accept="image/*"/>
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="sendImage" class="pshareBtn">send</a>
            </span>
    </div>
</div>
