<div class="pShareForm">

    <input type="text" id="imageName" class="form-control input-sm chat-input" value="{{Title}}" placeholder="Image title">
    </br>

    <textarea id="imageDescription" class="form-control" placeholder="Image description">{{Description}}</textarea>
    </br>

    <input type="text" id="imageTags" class="form-control" placeholder="Image tags separated by comma" value="{{#each Tags}}{{this}}, {{/each}}">
    </br>
    <span>Check if the photo is private:</span>
    <input type="checkbox" id="isPrivate" class="form-control">
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="sendImage" class="pshareBtn">send</a>
            </span>
    </div>
</div>
