<!-- How the image will look like -->
<div id="imagePage">
    <div id="imageContainer">
        <img src="{{Url}}" alt="{{Title}}">
    </div>
    <div id="additionalInfo">
        <h2>{{Title}}</h2>
        <p>{{Description}}</p>
    </div>
    <div id="tagsAndRatings">
        <h4>Tags: </h4>
        <p>
        {{#each Tags}}
        <span>{{this}}; </span>
        {{/each}}
        </p>
        <h4>Avarage rating: </h4>
        <p>{{Rating.Average}} </p>
        <h4>Your rating: </h4>
        <input id="markInput" type="range" name="mark" min="1" max="6" step="1" value="{{userMark}}">
    </div>
    <div id="comments">
        <h4>Comments</h4> {{#each Comments}}
        <p commentId={{Id}}>{{Text}}</p>
        {{/each}}
    </div>
    <div id="editLink">
    	{{#if editLink}}
    		<a id="editLink" type="button" class="pshareBtn">edit image</a>
    	{{/if}}
    </div>
</div>
