<!-- How the image will look like -->
<div id="imagePage">
    <div id="imageContainer">
        <img src={{url}} alt={{name}}>
    </div>
    <div id="additionalInfo">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
    </div>
    <div id="tagsAndRatings">
        <h4>Tags: </h4>
        <p>{{tags}} </p>
        <h4>Rating: </h4>
        <p>{{rating}} </p>
        <h4>Your rating: </h4>
        <input id="markInput" type="range" name="mark" min="1" max="6" step="1" 
			{{#if currentUserRating}}
			  	value={{currentUserRating}}
			{{else}}
			  	value="0"
			{{/if}}
        >
    </div>
    <div id="comments">
        <h4>Comments</h4> {{#each comments}}
        <p commentId={{commentId}}>{{text}}</p>
        {{/each}}
    </div>
    <div id="editLink">
    	{{#if user}}
    		<a id="editLink" type="button" class="pshareBtn">edit image</a>
    	{{/if}}
    </div>
</div>
