<div class="form-login pShareForm">
    <h4>Welcome back!</h4>
    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
    </br>
    <input type="password" id="userPassword" class="form-control" placeholder="password" />
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="loginBtn" class="btn btn-primary btn-md">login</a>
                or
                <a id="goToRegister" href="#/register" class="btn btn-primary btn-md">register</a>
            </span>
    </div>
</div>
