<div class="card">
    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
    <div class="avatar">
        <img src="http://lorempixel.com/100/100/people/9/" alt="" />
    </div>
    <div class="content">
        <p>Web Developer
            <br>
            More description here</p>
        <p>
            <a id="deleteProfile" type="button" class="pshareBtn">Delete profile</button>
            <a id="changeProfile" type="button" class="pshareBtn">Change profile</button>
        </p>
    </div>
</div>
