<div class="form-register">
    <input type="text" id="registerUserName" class="form-control input-sm chat-input" placeholder="username" />
    </br>
    <input type="password" id="registerUserPassword" class="form-control" placeholder="password" />
    </br>
    <input type="password" id="repeateUserPassword" class="form-control" placeholder="repeat password" />
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="registerBtn" class="btn btn-primary btn-md">register</a>
            </span>
    </div>
</div>
