<div class="form-register pShareForm">
    <input type="text" id="usernameInput" class="form-control input-sm chat-input" placeholder="username" />
    </br>
    <input type="text" id="firstName" class="form-control" placeholder="your name" />
    </br>
    <input type="text" id="lastName" class="form-control" placeholder="your last name" />
    </br>
    <input type="email" id="email" class="form-control" placeholder="your email" />
    </br>
    <input type="password" id="userPassword" class="form-control" placeholder="password" />
    </br>
    <input type="password" id="repeateUserPassword" class="form-control" placeholder="repeat password" />
    </br>
    <div class="wrapper">
        <span class="group-btn">     
                <a id="registerBtn" class="btn btn-primary btn-md">{{text}}</a>
            </span>
    </div>
</div>
