@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/* Base structure */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

html,
body,
#slider ul,
#slider ul li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
}

a,
a:focus,
a:hover {
    color: #fff;
}


/*Styling image page*/

#imagePage {
    width: 100%;
    height: 75vh;
}

#imagePage img {
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#additionalInfo {
    z-index: 100;
    position: absolute;
}

#additionalInfo > h2 {
    text-align: left;
    margin: 0 0 10px 0;
}

#tagsAndRatings {
    position: absolute;
    bottom: 2%;
}

#tagsAndRatings > h4,
#tagsAndRatings > p,
#tagsAndRatings > input {
    display: inline-block;
}

#tagsAndRatings > p {
    margin-right: 20px;
}

#tagsAndRatings > input {
    width: 100px;
    vertical-align: middle;
}

#comments {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#comments p {
    cursor: pointer;
}

#editLink {
    position: absolute;
    bottom: 5px;
    right: 0;
}

#editLink a {
    width: 110px;
}


/*Styling search results*/

.imageCell {
    position: relative;
    width: 32.7%;
    height: 20vh;
    padding-bottom: 10%;
    /* % of width, defines aspect ratio*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 2px;
    padding: 0;
    border: 0;
}

.imageCell p {
    position: absolute;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    margin: 0;
    padding: 5px;
    border: 0;
}


/*Styling background slider*/

#backgroundContainer {
    opacity: 0.9;
}

#slider,
#slider ul,
#slider ul li {
    position: relative;
}

#slider,
#slider ul,
#slider ul li {
    overflow: hidden;
    margin: auto;
}

#slider ul {
    list-style: none;
}

#slider ul li {
    display: block;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 3% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_next {
    right: 0;
}


/*Styling container*/

.row div,
#container>div {
    padding: 1px;
}

.row {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


/*Styling forms - search and login*/

.pShareForm,
.pShareForm input,
#light textarea,
.pShareForm textarea {
    margin-left: auto;
    margin-right: auto;
}

.pShareForm {
    padding-top: 20px;
}

.searchSubmitForm #photoSearcher {
    vertical-align: middle;
    margin-bottom: 20px;
}

.searchSubmitForm a,
.editProfile a,
.pShareForm #registerBtn {
    display: block;
    padding: 10px;
    margin: 0 auto 50px;
    width: 260px;
}

.searchSubmitForm #photoSearcher {
    display: inline-block;
    margin: 0px;
}

.pShareForm input,
#light textarea,
.pShareForm textarea {
    color: gray;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
    font-size: 1.2em;
    width: 260px;
}

.pShareForm input {
    height: 45px;
}

#light textarea,
.pShareForm textarea {
    height: 120px;
}

#container #light {
    width: 40%;
}

#container #light textarea {
    width: 100%;
}

#container #btnContainer {
    margin: 3% 0;
    padding: 0;
    border: 0;
}

#container #light #deleteBtn {
    float: left;
}

#container #light #cancelBtn {
    float: right;
}

#container .cover-heading {
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
}

.searchBtn,
#loginBtn,
#goToRegister,
#registerBtn,
.pshareBtn {
    color: #333;
    text-shadow: none;
    font-size: 1.2em;
    width: 100px;
    display: inline-block;
    background-color: #FFEE11;
    border: 1px solid #777;
    height: 45px;
    padding-top: 10px;
    font-weight: 600;
    border-radius: 0;
    cursor: pointer;
}

.card .double,
.edits .double {
    height: 65px;
    margin: 20px 5px;
    width: 40%;
    padding: 7px;
    vertical-align: middle;
}

#noBtn {
    display: none;
}

.searchBtn:hover,
#loginBtn:hover,
#goToRegister:hover,
#registerBtn:hover,
.pshareBtn:hover {
    background-color: #fff;
    color: #777;
    text-decoration: none;
}

#fileinput::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
}

#fileinput::before {
    display: inline-block;
    display: block;
}


/*Styling search results container*/

.searchResultsContainer {
    padding: 150px 20px 150px 20px;
    position: absolute;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.site-wrapper-inner {
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 30px;
}


/* Header */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 8px;
}

.masthead-nav > li > a {
    padding: 4px;
    font-size: 1em;
    font-weight: bold;
    color: rgba(255, 255, 255, .75);
    /* IE8 proofing */
    border: 1px solid rgba(255, 255, 255, .75);
    border-bottom: 5px solid rgba(255, 255, 255, .75);
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
    border-color: #FFEE11;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-color: #fff;
}


/* Cover */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/* Footer */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}


/*Popup div*/

.black_overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#container > .white_content {
    display: block;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 20vw;
    height: auto;
    padding: 4vh;
    background-color: white;
    z-index: 1002;
    color: #333;
}

.white_content > p {
    margin-bottom: 15%;
}


/*RESPONSIVE SETTINGS*/


/*Very narrow screens*/

@media (min-width: 300px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    .cover {
        position: fixed;
        top: 150px;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container,
    .cover,
    .searchResultsContainer {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}


/*Narrow screens*/

@media (min-width: 400px) {
    /* Pull out the header and footer */
    .masthead-nav > li > a {
        padding: 7px;
        font-size: 1.2em;
    }
    .masthead-nav > li + li {
        margin-left: 10px;
    }
    .searchSubmitForm #photoSearcher {
        margin-right: 20px;
    }
    #container .cover-heading {
        margin-bottom: 30;
        margin-top: 10;
        margin-bottom: 30px;
        font-size: 2em;
    }
}


/*Medium screens*/

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
    .masthead-nav > li > a {
        padding: 15px;
        font-size: 1.2em;
    }
    .masthead-nav > li + li {
        margin-left: 20px;
    }
}


/*Wide screens*/

@media (min-width: 992px) {
    .cover-container {
        width: 100%;
        margin: auto;
    }
    .site-wrapper-inner {
        text-align: center;
    }
    .masthead,
    .mastfoot,
    .cover,
    .searchResultsContainer {
        margin-left: 15%;
        width: 70%;
    }
}
