@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/* Base structure */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

html,
body,
#slider ul,
#slider ul li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
}

a,
a:focus,
a:hover {
    color: #fff;
}


/*Styling background slider*/

#backgroundContainer {
    opacity: 0.9;
}

#slider,
#slider ul,
#slider ul li {
    position: relative;
}

#slider,
#slider ul,
#slider ul li {
    overflow: hidden;
    margin: auto;
}

#slider ul {
    list-style: none;
}

#slider ul li {
    display: block;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 3% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_next {
    right: 0;
}


/*Styling container*/

.row div,
#container>div {
    padding: 1px;
}

.row {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


/*Styling forms - search and login*/

.searchSubmitForm,
.form-login,
.form-login input,
.form-register,
.form-register input {
    margin-left: auto;
    margin-right: auto;
}

.searchSubmitForm,
.form-login,
.form-register {
    padding-top: 20px;
}

.searchSubmitForm input,
.searchSubmitForm div {
    vertical-align: middle;
    margin-bottom: 20px;
}

.searchSubmitForm a {
    display: block;
    padding-top: 10px;
}

.searchSubmitForm input {
    display: inline-block;
    margin-right: 0px;
}

.searchSubmitForm input,
.form-login input,
.form-register input {
    color: gray;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
    font-size: 1.2em;
    width: 260px;
}

#container .cover-heading {
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
}

.searchBtn,
#loginBtn,
#goToRegister,
#registerBtn {
    color: #333;
    text-shadow: none;
    font-size: 1.2em;
    width: 100px;
    display: inline-block;
    background-color: #FFEE11;
    border: 1px solid #777;
    height: 45px;
    padding-top: 10px;
    font-weight: 600;
    border-radius: 0;
}

.searchBtn:hover,
#loginBtn:hover,
#goToRegister:hover,
#registerBtn:hover {
    background-color: #fff;
    color: #777;
}


/*Styling search results container*/

.searchResultsContainer {
    padding: 150px 20px 150px 20px;
    position: absolute;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    /*-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
}

.site-wrapper-inner {
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 30px;
}


/* Header */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 8px;
}

.masthead-nav > li > a {
    padding: 4px;
    font-size: 1em;
    font-weight: bold;
    color: rgba(255, 255, 255, .75);
    /* IE8 proofing */
    border: 1px solid rgba(255, 255, 255, .75);
    border-bottom: 5px solid rgba(255, 255, 255, .75);
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
    border-color: #FFEE11;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-color: #fff;
}


/* Cover */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/* Footer */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}


/*RESPONSIVE SETTINGS*/


/*Very narrow screens*/

@media (min-width: 300px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    .cover {
        position: fixed;
        top: 150px;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container,
    .cover,
    .searchResultsContainer {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}


/*Narrow screens*/

@media (min-width: 400px) {
    /* Pull out the header and footer */
    .masthead-nav > li > a {
        padding: 7px;
        font-size: 1.2em;
    }
    .masthead-nav > li + li {
        margin-left: 10px;
    }
    .searchSubmitForm input {
        margin-right: 20px;
    }
    #container .cover-heading {
        margin-bottom: 30;
        margin-top: 10;
        margin-bottom: 30px;
        font-size: 2em;
    }
}


/*Medium screens*/

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
    .masthead-nav > li > a {
        padding: 15px;
        font-size: 1.2em;
    }
    .masthead-nav > li + li {
        margin-left: 20px;
    }
}


/*Wide screens*/

@media (min-width: 992px) {
    .cover-container {
        width: 100%;
        margin: auto;
    }
    .site-wrapper-inner {
        text-align: center;
    }
    .masthead,
    .mastfoot,
    .cover,
    .searchResultsContainer {
        margin-left: 15%;
        width: 70%;
    }
}
